[user]
	email = yannelmorales51@gmail.com
	name = deadlock
[safe]
	directory = /home/deadlock/Files/Configuraciones/dotfiles
	directory = /home/deadlock/Files/dotfiles
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
