[safe]
	directory = /home/deadlock/Files/Configuraciones/IDE Envirorment
	directory = /home/deadlock/Files/Configuraciones/dotfiles/IDE Envirorment
	directory = /home/deadlock/Files/Documents/DOCUMENTACION Y NOTAS/PROYECTOS PERSONALES/Programming/PYTHON/Proyecto_Estadistica_App_V3
	directory = /home/deadlock/Files/Documents/DOCUMENTACION Y NOTAS/PROYECTOS PERSONALES/Programming/PYTHON/Proyecto_Estadistica_App_V2
	directory = /home/deadlock/Files/Documents/DOCUMENTACION Y NOTAS/PROYECTOS PERSONALES/Programming/HTML-CSS-JAVASCRIPT/JAVASCRIPT/PROGRAMACION 3/PROYECTO FINAL/GastroNode
[user]
	email = yannelmorales51@gmail.com
	name = FreidhYMorales
[safe]
	directory = /home/deadlock/Files/Documents/UNIVERSIDAD/CURSOS/METODOS NUMERICOS/PROYECTO
	directory = /home/deadlock/Files/Documents/UNIVERSIDAD/CURSOS/METODOS NUMERICOS/PRACTICA EXAMEN
	directory = /home/deadlock/Files/Documents/UNIVERSIDAD/CURSOS/METODOS NUMERICOS/PROYECTO TAREAS
	directory = /home/deadlock/Files/Documents/UNIVERSIDAD/CURSOS/METODOS NUMERICOS/PARCIAL II/SERIE I
	directory = /home/deadlock/Files/Documents/UNIVERSIDAD/CURSOS/METODOS NUMERICOS/PARCIAL II/SERIE II
	directory = /home/deadlock/Files/Documents/DOCUMENTACION Y NOTAS/PROYECTOS PERSONALES/Programming/PYTHON/Proyecto_Estadistica_App_V3/src/Estadistica Descriptiva
